<br>
<br>
<br>


<div class="about_me">
	<h1><u><b>About the Artist</b></u></h1>
	<br>
	<p>Born and raised in Raleigh, NC, Mason grew up with a banjo in his hands.  By age 14, that banjo had been replaced by a guitar and there was no looking back.  Throughout his teenage years, Mason gained experience performing at many notorious, local venues, including:  Lincoln Theatre, Koka Booth Ampitheatre, Raleigh Music Hall, The Brewery, Tir Na Nog, Pour House, Sadlack Heroes, Moore Square, and many more. </p>
	<br>
	<p>After graduating from Sanderson High School in 2007, Mason moved to Wilmington, NC, where he continued to learn and grow as a musician.  He worked with several groups throughout the decade before finding steady work as a solo artist.  Mason set down his Fender Telecaster and dusted off his old Martin Acoustic for an event at the Country Club of Landfall.   What was supposed to be a one time job turned into a 5 year gig.  This opened many doors for Mason, and allowed him to gain experience as a performing artist while exploring new avenues, such as weddings, fundraising events, wine tastings, upscale parties, and private dining gigs.</p> 
	<br>
	<p>Now back in the triangle after more than a decade working on his craft, Mason is ready to take Raleigh, NC by storm.  It has been a busy Autumn season already with nearly every weekend booked for private events.  
</div>
