<h1 class="words">Media</h1>

<h3 class="words">This Is Where I Will Display Videos and Links To Songs So You Can Hear Me!</h3>
<br>
<br>
<div class="youtube">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/_RBvlHXkEo8" frameborder="30" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br>
<br>
<br>


<a href="https://www.soundcloud.com/mason-peacock" target="_blank", class="soundcloud">Check Out My Soundcloud!</a>

<br>
<br>
<br>
