// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.a_button {
	color: #2d2d2d !important;
	font-size: 12px !important;
	margin-left: 15%;
}

.song_table {
	color: #2d2d2d;
	margin-left: 15%;
	width: 60% !important;

}

.artist {
	color: #2d2d2d;
	margin-left: 10%;
	margin-right: -65px;
}

.title {
	color: #2d2d2d;
	margin-right: 10%;
	margin-left: -25px;
}

.song_names {
	font-size: 12px;
}

.freebird {
	margin-left: 23%;
}


